rules_version = '2'; service cloud.firestore { match /databases/{database}/documents { match /conversation_history/{doc} { allow read, write: if true; } } }